@font-face {
  font-family: "Basically A Mono";
  src: url("../assets/fonts/basically-a-mono/fonts/otf/BasicallyAMono-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basically A Mono";
  src: url("../assets/fonts/basically-a-mono/fonts/otf/BasicallyAMono-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basically A Mono";
  src: url("../assets/fonts/basically-a-mono/fonts/otf/BasicallyAMono-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basically A Mono";
  src: url("../assets/fonts/basically-a-mono/fonts/otf/BasicallyAMono-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
